<div id="denounce_anchor"></div>
<div class="center">
  <h1>Dénoncez le !</h1>
  <strong class="subHeading">Ici vous êtes libre de dénoncer un ami, un collègue, un frère d'arme.</strong>
  <div class="columns">
    <div class="half">
      <form action="{{ path('_create') }}" method="post" {{ form_enctype(form) }} class="form">
        <fieldset>
          <h2>Une dénonciation, une !</h2>
          {{ form_errors(form) }}
          <div class="formRow">
            {{ form_label(form.from_pseudo) }}
            <div class="textField">
              {{ form_errors(form.from_pseudo) }}
              {{ form_widget(form.from_pseudo) }}
            </div>	
          </div>
          <div class="formRow">
            {{ form_label(form.to_pseudo) }}
            <div class="textField">
              {{ form_errors(form.to_pseudo) }}
              {{ form_widget(form.to_pseudo) }}
            </div>
          </div>
          <div class="formRow">
            {{ form_label(form.denounce) }}
            <div class="textField">
              {{ form_errors(form.denounce) }}
              {{ form_widget(form.denounce, { 'attr': {'cols': '20', 'rows': '4', 'placeholder': "Votre odieuse dénonciation .."} }) }}
            </div>	
          </div>
          {# hidden fields, CSRF protection #}
          {{ form_rest(form) }}
          <div class="formRow">
            <button class="btnSmall btn submit right">
              <span>Dénoncez !</span>
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>