<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Denounce Me !{% endblock %}</title>
    <meta name = "viewport" content = "width=device-width, maximum-scale = 1, minimum-scale=1" />
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/dmedenounceme/css/default.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dmedenounceme/css/fixed-navigation.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dmedenounceme/css/flexslider.css') }}" />
    {% endblock %}
    {% block javascripts %}
      <script type="text/javascript" src="{{ asset('bundles/dmedenounceme/js/jquery-1.9.0.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/dmedenounceme/js/jquery.flexslider.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bundles/dmedenounceme/js/respond.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <div id="pagewidth">
      <div id="posts_anchor"></div>
      {% block content_header %}
        <header id="header">
          <div class="center">
            <nav id="mainNav">
              <ul>
                <li class="active"><a href="#posts_anchor"><span>Les dénonciations ..</span></a></li>
                <li><a href="#denounce_anchor"><span>Dénoncez !</span></a></li>
              </ul>
            </nav>
          </div>
        </header>
      {% endblock %}

      {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
          <em>Notice</em>: {{ flashMessage }}
        </div>
      {% endfor %}

      <div id="content">
        <section id="posts" class="row">
          {% block posts %}
          {% endblock %}
        </section>
        <section id="denounce" class="row grey">
          {% render url('_denounce') %}
        </section>
      </div>
      
      {% block footer %}
        <footer id="footer">
          <div class="center">
            <span class="copy">Created by <a href="mailto:thyvernat@orupaca.fr">Thibaud HYVERNAT</a></span>
            Une application qu'elle est mal.
          </div>
        </footer>
      {% endblock %}
    </div>
  </body>
</html>
